<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
	
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css" media="screen,projection" />
	
	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<link type="text/css" rel="stylesheet" href="css/style.css"  />

	<title>ReciclAP</title>

</head>

<body>
<nav class="#ffffff white">
     <div class="imgreciclap">
     <center>
     <img src="img/reciclaplogo.png" width="130px" alt="">
     </center>
     </div>
   </nav>
	
<div class="tela">
	<h3><a href="/Empresa" class="waves-effect waves-light btn" ><i class="material-icons left">format_list_bulleted</i>Voltar</a></h3>
	
	<div th:each="empresa : ${empresa}" class="container">
		<div class= row>
			<p><b>Nome da Empresa: </b> <span th:text=${empresa.nome}></span></p>
			<p><b>Email: </b><span th:text=${empresa.email}></span></p>
			<p><b>CNPJ: </b><span th:text=${empresa.cnpj}></span></p>
			<p><b>CEP: </b><span th:text=${empresa.cep}></span></p>
			<p><b>Estado: </b><span th:text=${empresa.estado}></span></p>
			<p><b>Telefone: </b><span th:text=${empresa.telefone}></span></p>	
		</div>

	</div>
	
	<h3><a href="/CadastraMaterial" class="waves-effect waves-light btn" ><i class="material-icons right">add_circle_outline</i>Adicionar Produto Reciclavel</a></h3>
	

</div>

	
	
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<!--JavaScript at end of body for optimized loading-->
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>

</body>



</html>