<!DOCTYPE html>
<meta charset="utf-8" />
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />

<!--Import materialize.css-->
<link type="text/css" rel="stylesheet"
	href="materialize/css/materialize.min.css" media="screen,projection" />

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link type="text/css" rel="stylesheet" href="css/style.css" />

<title>ReciclAP</title>

</head>

<body>
	<nav class="#ffffff white">
		<div class="imgreciclap">
			<center>
				<img src="img/reciclaplogo.png" width="130px" alt="">
			</center>
		</div>
	</nav>

	<div class="tela">
		<h3>
			<a href="/CadastraEmpresa" class="waves-effect waves-light btn">Cadastrar
				Empresa</a>
		</h3>

		<table class="striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nome</th>
					<th>Email</th>
					<th>Senha</th>
					<th>CNPJ</th>
					<th>CEP</th>
					<th>Estado</th>
					<th>Telefone</th>
					<th>Deletar</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="empresa : ${empresas}">
					<td><span th:text="${empresa.id}"></span></td>
					<td><a
						th:href="${(#mvc.url('EC#detalhesEmpresa').arg(0, empresa.id)).build()}">
							<span th:text="${empresa.nome}"></span>
					</a></td>
					<td><span th:text="${empresa.email}"></span></td>
					<td><span th:text="${empresa.senha}"></span></td>
					<td><span th:text="${empresa.cnpj}"></span></td>
					<td><span th:text="${empresa.cep}"></span></td>
					<td><span th:text="${empresa.estado}"></span></td>
					<td><span th:text="${empresa.telefone}"></span></td>
					<td><a class="waves-effect waves-light btn-small"
						th:href="${(#mvc.url('EC#deletarEmpresa').arg(0, empresa.id)).build()}"><i
							class="material-icons prefix">delete</i></a></td>
				</tr>
			</tbody>



		</table>

	</div>

	<script type="text/javascript"
		src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<!--JavaScript at end of body for optimized loading-->
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>

</body>











</html>