<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
	
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css" media="screen,projection" />
	
	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<link type="text/css" rel="stylesheet" href="css/style.css"  />
	

	<title>ReciclAP</title>
</head>
<body>
	<nav class="#ffffff white">
     <div class="imgreciclap">
     <center>
     <img src="img/reciclaplogo.png" width="130px" alt="">
     </center>
     </div>
   </nav>
        
<div class="tela">


<h3><a href="/Empresa" class="waves-effect waves-light btn" ><i class="material-icons left">format_list_bulleted</i>Voltar</a></h3>

<form method="post"  th:object="${material}">

	<div class="row">
        <div class="input-field col s9">
          <i class="material-icons prefix">work</i>
          <textarea id="icon_prefix1" class="materialize-textarea" name="nome"></textarea>
          <label for="icon_prefix1">Nome do Material</label>
        </div>
      </div>
      
      <div class="row">
        <div class="input-field col s9">
          <i class="material-icons prefix">email</i>
          <textarea id="icon_prefix2" class="materialize-textarea" name="composicao"></textarea>
          <label for="icon_prefix2">Composicao</label>
        </div>
      </div>
      
      <div class="row">
        <div class="input-field col s9" >
          <i class="material-icons prefix">lock</i>
          <textarea id="icon_prefix3" class="materialize-textarea" name="tipo"></textarea>
          <label for="icon_prefix3" >Tipo</label>
        </div>
      </div>
	
	<div class="row">
        <div class="input-field col s9">
          <i class="material-icons prefix">location_city</i>
          <textarea id="icon_prefix4" class="materialize-textarea" name="decomposicao"></textarea>
          <label for="icon_prefix4">Decomposicao</label>
        </div>
      </div>
      
		<label>Empresas</label>
				<select name="id" class="browser-default">
					<option value="">Selecione</option>
					<option th:each="e:${empresas}"
							th:value="${e.id}" 
							th:text="${e.nome}">
					</option>
				</select>

		<br>
		<br>
		<br>
		
		
	<button class="waves-effect waves-light btn" type="submit">Salvar</button>
	<br>
	<br>

</form>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<!--JavaScript at end of body for optimized loading-->
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>

</body>

 </html>

